.carousel-caption{
    margin-bottom: 50px;
}
@media screen and (max-width: 620px) {
    body{
        overflow-x: hidden !important;
    }
    .carousel-item img{
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }
    .carousel-caption{
         height: 250px;
    }
    .carousel-text{
        padding: 0 30px;
    }
    
}